body{
    margin: 0;
    padding: 0;
}
.suggestion{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(18,38,32,1);
    text-align: center;
    color:  rgba(244,235,208,1);
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
    color:rgba(244,235,208,1); 
    background-color:rgba(18,38,32,1) ;
    margin: 0;
    padding: 0;
}
.picture1{
    display: flex;
    height: 300px;
    width: 500px;
    position:absolute;
    top: 30%;
    left: 3%;
    border-radius: 10px;
    object-fit: cover;
}
.picture2{
    display: flex;
    height: 300px;
    width: 500px;
    position:absolute;
    top: 30%;
    left: 37%;
    border-radius: 10px;
    object-fit: cover;
}
.picture3{
    display: flex;
    height: 300px;
    width: 500px;
    position:absolute;
    top: 30%;
    left: 70%;
    border-radius: 10px;
    object-fit: cover;
}
.image-text1 {
    position: absolute;
    top: 45%;
    left: 16%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    visibility: hidden; /* Initially hidden */
}
.image-text2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    visibility: hidden; /* Initially hidden */
}
.image-text3{
    position: absolute;
    top: 45%;
    left: 83%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    visibility: hidden; /* Initially hidden */
}

.picture1:hover,
.picture2:hover,
.picture3:hover {
    filter: blur(3px); /* Apply blur effect on hover */
    transition: filter 0.3s ease; /* Add smooth transition for blur effect */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Add illuminated border */
    transition: border 0.3s ease; /* Add smooth transition for border */
}
.picture1:hover + .image-text1 {
    visibility: visible; /* Display text on hover */
   
    transition: border 0.3s ease; /* Add smooth transition for border */
}
.picture2:hover + .image-text2 {
    visibility: visible; /* Display text on hover */
   
    transition: border 0.3s ease; /* Add smooth transition for border */
}
.picture3:hover + .image-text3 {
    visibility: visible; /* Display text on hover */
    
    transition: border 0.3s ease; /* Add smooth transition for border */
}
